html, body, .container {
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch; }

body {
  margin: 0; }

.help, .settings {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background: rgba(0, 0, 0, 0.07);
  padding: 3px 5px; }

.help span {
  float: right;
  padding-right: 15px; }

.settings {
  display: flex;
  flex-wrap: wrap; }
  .settings span, .settings label {
    display: inline-block;
    padding: 0 20px 0 0;
    box-sizing: border-box; }
  .settings span {
    font-weight: bold; }

.error-console {
  border-top: 5px solid #f0f0f0;
  max-height: 120px;
  overflow: auto; }
  .error-console:after {
    content: '';
    display: block;
    clear: both; }

.console-message-wrapper {
  display: flex;
  border-bottom: 1px solid #f0f0f0; }

.console-message {
  clear: right;
  position: relative;
  padding: 3px 22px 3px 0;
  margin-left: 3px;
  flex: auto;
  display: flex; }

.console-message-text {
  font-size: 12px !important;
  font-family: Consolas, Lucida Console, monospace;
  flex: auto; }

.console-message-url {
  color: #212121;
  cursor: pointer;
  float: right;
  text-align: right;
  max-width: 100%;
  margin-left: 4px; }
  .console-message-url:hover {
    text-decoration: underline; }

.editor {
  order: 0;
  flex: 0 1 100%;
  align-self: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  height: 100%; }
  .editor .pane {
    order: 0;
    flex: 0 1 50%;
    align-self: auto; }
  .editor .ace {
    height: 100%;
    width: 50%; }
  .editor #ts-editor, .editor #js-output {
    width: 100%; }
